.bordered{
	border: 1px solid;
}

.chart-container{
	font: 12px sans-serif;
	user-select: none;
	border: 1px solid;
}

.tree-link{
	fill: none;
	stroke: #555;
	stroke-opacity: 0.4;
	stroke-width: 1.5;
}

.node-opaque{
	fill-opacity: 1;
	stroke-opacity: 1;
}

.node-transparent{
	fill-opacity: 0;
	stroke-opacity: 0;
}

.person-container{
	/* fill: lightblue; */
	stroke: black;
	stroke-width: 5;
	opacity: 0.5;
}

.person-name{
	font-family: Verdana;
	fill: blue;
}
.person-title{
	font-family: Verdana;
}
